
   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moodify</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="root">
        <div class="the-type">
            <h1 class="typeing" data-typeingText="Song based on Your Mood"></h1>
        </div>
            <!-- Upload Area -->
        <form action="#" method="post" enctype="multipart/form-data">
            <div id="uploadArea" class="upload-area">
                <!-- Header -->
                <div class="upload-area__header">
                <h1 class="upload-area__title">Upload your file</h1>
                <p class="upload-area__paragraph">
                    File should be an image
                    <strong class="upload-area__tooltip">
                    Like
                    <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
                    </strong>
                </p>
                </div>
                <!-- End Header -->
            
                <!-- Drop Zoon -->
                <div id="dropZoon" class="upload-area__drop-zoon drop-zoon">
                <span class="drop-zoon__icon">
                    <i class='bx bxs-file-image'></i>
                </span>
                <p class="drop-zoon__paragraph">Drop your file here or Click to browse</p>
                <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
                <img src="" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image" draggable="false">
                <input type="file" id="fileInput" class="drop-zoon__file-input" name="file" accept="image/*">
                </div>
            <!-- End Drop Zoon -->
        
            <!-- File Details -->
            <div id="fileDetails" class="upload-area__file-details file-details">
            <h3 class="file-details__title">Uploaded File</h3>
        
            <div id="uploadedFile" class="uploaded-file">
                <div class="uploaded-file__icon-container">
                <i class='bx bxs-file-blank uploaded-file__icon'></i>
                <span class="uploaded-file__icon-text"></span> <!-- Data Will be Comes From Js -->
                </div>
        
                <div id="uploadedFileInfo" class="uploaded-file__info">
                <span class="uploaded-file__name">Proejct 1</span>
                <span class="uploaded-file__counter">0%</span>
                </div>
            </div>
            </div>
                <!-- End File Details -->
            </div>
            <div>
                <button type="submit" class="submit">Upload</button>
            </div>
            <!-- End Upload Area -->
        </form>
    <div>
    


</body>

<script src="{{url_for('static',filename='js/index.js')}}"></script>


</html>
